doctype html
html(lang="ru")
    head
        //meta
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        meta(name="keywords" content="слайдер, ползунок")
        meta(name="description" content="Плагин ползунка")
        //title
        title Slider Bar Test Page
        //favicon
        link(rel="icon" href=require("./favicon.svg").default type="image/icon")
    body
        div(class="test-page-wrap")
            div(class="slider-bar-wrap")
            div(class="slider-bar-wrap")
            div(class="slider-bar-wrap")
            div(class="slider-bar-wrap")