.slider-bar {
    height: 100%;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 1;
}

.slider-bar__line {
    background-color: #d7d7d7;
    position: absolute;
    height: 50%;
    top: 50%;
    left: 0px;
    right: 0px;
    transform: translateY(-50%);
    z-index: 2;
}

.slider-bar__progress {
    background-color: #414141;
    position: absolute;
    height: 50%;
    top: 50%;
    left: 0px;
    width: 0px;
    transform: translateY(-50%);
    z-index: 3;
}

.slider-bar__circle {
    background-color: #414141;
    position: absolute;
    height: 100%;
    width: 1%;
    top: 0px;
    left: 0px;
    z-index: 4;
    cursor: pointer;
    @media (max-width: 1800px) {
        width: 2%;
    }
    @media (max-width: 1100px) {
        width: 3%;
    }
    @media (max-width: 800px) {
        width: 5%;
    }
    @media (max-width: 500px) {
        width: 7%;
    }
}