.slider-bar {
    height: 100%;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 1;
}

.slider-bar__line {
    background-color: #d7d7d7;
    position: absolute;
    height: 50%;
    top: 50%;
    left: 0px;
    right: 0px;
    transform: translateY(-50%);
    z-index: 2;
}

.slider-bar__progress {
    background-color: #414141;
    position: absolute;
    height: 50%;
    top: 50%;
    left: 0px;
    width: 0px;
    transform: translateY(-50%);
    z-index: 3;
}

.slider-bar__scroll {
    background-color: #414141;
    position: absolute;
    height: 100%;
    max-width: 100%;
    top: 0px;
    left: 0px;
    z-index: 4;
    cursor: pointer;
    touch-action: none;
}