doctype html
html(lang="ru")
    head
        //meta
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        meta(name="keywords" content="слайдер, ползунок")
        meta(name="description" content="Плагин ползунка")
        //title
        title Slider Bar Page
        //favicon
        include ./favicon/favicon.pug
    body
        div(class="wrap" id="wrap") Test text